Hi {{name}},
Thank you for choosing Chatify.

The Chatify offers all of the information you need to get the most out of our Application and much more.

Please verify your account with this One time Verification Code {{code}}.


Once again – thank you for joining our Chatify family!